<h1>Coaching Personnalisé</h1>
<p>Des séances adaptées à vos besoins spécifiques pour atteindre vos objectifs.</p>

<div>
  <%= link_to 'Retour à l\'accueil', home_path, class: 'btn btn-primary' %>
</div>
