<h1>Entraînements en Groupe</h1>
<p>Rejoignez un groupe dynamique pour des séances motivantes et conviviales.</p>

<div>
  <%= link_to 'Retour à l\'accueil', home_path, class: 'btn btn-primary' %>
</div>
