<h1>Nos Services</h1>
<ul>
  <li><%= link_to 'Coaching personnalisé', coaching_path %></li>
  <li><%= link_to 'Entraînements en groupe', group_training_path %></li>
  <li><%= link_to 'Préparation physique spécifique', specific_physical_preparation_path %></li>
</ul>


<div>
  <%= link_to 'Retour à l\'accueil', home_path, class: 'btn btn-primary' %>
</div>
