<h1>Préparation Physique Spécifique</h1>
<p>Un programme conçu pour répondre aux besoins des athlètes ou aux objectifs spécifiques.</p>

<div>
  <%= link_to 'Retour à l\'accueil', home_path, class: 'btn btn-primary' %>
</div>
